{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link type="text/css" href="{% static 'notes/css/style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'notes/icons/icons8-note-16.png' %}">
</head>
<body>
  <div class="wrapper">
    <form method="get" class="form_search" action="/search/">
        {% csrf_token %}
        <input style="width: 50px" name="note_search" type="text" placeholder="Пошук..."/>
        <button>Шукати</button>
    </form>

    {% block content %}
    {% endblock %}
  </div>
</body>
</html>