{% extends 'notes/base.html' %}
{% block content %}
<h1>New Note</h1>
<form action="{% url 'note_create' %}" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="title">Заголовок</label>
        <input type="text" name="title" id="title" class="form-control">
    </div>
    <div class="form-group">
        <label for="text">Текст</label>
        <textarea name="text" id="text" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="reminder">Дедлайн</label>
        <input type="datetime-local" name="reminder" id="reminder" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Підтвердити</button>
</form>
{% endblock %}